/* Give the title and info rows some bottom margin */
.title-row, .info-row {
    margin-bottom: 25px;
}

/* Set the titles color */
h1.title > a, h1.title > a:hover { 
    color: #333
}

/* Style the code elements */
code {
    color: #333;
    display: block;
}

/* Style the links */
a.module, a.module:hover {
    color: #333;
}

/* Style the alias elements */
sup.alias {
    color: #848484;
    padding-left: 30px;
}

/* Hide an unecessary alias element */
.hidden-alias {
    visibility: hidden;
}

